footer {
    background: var(--ligh-gray);
  }
  footer .title-footer {
    color: var(--primary-blue);
    margin: 25px 0;
  }
  footer .about-spirito .about-spirito-logo {
    padding: 25px 0;
  }
  footer .social-networks {
    padding: 25px 0;
  }
  footer .social-networks .icon-footer-social {
    color: var(--primary-blue);
    font-size: 18px;
    margin-right: 10px;
  }
  footer .contact-info .contact-info-list {
    display: flex;
  }
  footer .contact-info .contact-info-icon {
    color: var(--primary-blue);
    font-size: 15px;
    margin-right: 6px;
  }
  footer .payment-methods figure {
    display: flex;
    justify-content: end;
    max-width: 1060px;
  }
  footer .politics {
    padding: 30px 0;
  }
  footer .politics .politics-list {
    display: flex;
  }
  footer .politics .politics-item {
    margin-right: 30px;
  }