.container{
    background: #f2f2f2;
    width: 25%;
    font-size: 22px;
    font-family: Gotham Rounded;
    color: #695F98;
    margin: auto 20px;
    border-radius: 20px;
    text-align: center;
    padding: 1.5%;
    display: inline-block;

}
.container input{
    border-color: rgba(131, 96, 223,.3);
    font-size: 22px;
    width: 75%; 
    padding: 15px;
    margin: 10px 10px;
}
.container .boton{
    background: #60DFB7;
    font-family: Gotham Rounded;
    color: #695F98;
    font-size: 22px;
    padding: 5px 23px;
    margin: 5px 10px;
    border-radius: 12px;
  
}
